{% extends 'base.html' %}
{% block title %}Редактировать пост{% endblock %}
{% block content %}
<div class="container-custom py-5" style="margin-top: 100px;">
    <div class="card-glass p-5">
        <h1 class="section-title">Редактировать пост</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-primary-custom">Сохранить</button>
            <a href="{% url 'community_detail' post.community.slug %}" class="btn-outline-custom">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}